.article_item{
  padding: 50px 0 80px;
  border-bottom: 1.3px solid #c5cddd;
  &>header{
    margin-bottom: 20px;
    &>section{
      &:first-child{ // title
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
      }
      &:last-child{ // intro
        font-size: 12px;
        font-family: Fira Sans,sans-serif;
        color: #92969c;
        margin: 10px 0;
        &>div{
          display: inline-block;
        }
      }
    }
  }

  &>article{
    font-size: 17px;
    color: #5b6068;
    line-height: 1.5em;
    text-indent: 1em;
  }
}